/* React Modal Sheet */
.react-modal-sheet-container {
  background-color: white !important;
  /* Override library's default sheet top margin when fully open (34px):
   * https://github.com/Temzasse/react-modal-sheet/blob/e01de7e14f97d1b0ccb342d8306904775baf91a2/src/constants.ts#L34
   */
  height: calc(100% - env(safe-area-inset-top) - 48px) !important;
}

.react-modal-sheet-header {
  /* Decrease the height of the draggable header area */
  height: 20px !important;
}

.react-modal-sheet-drag-indicator-container {
  opacity: 0.5;

  .react-modal-sheet-drag-indicator {
    /* Increase the width of the drag indicator */
    background-color: var(--color-positron-gray-400) !important;
    width: 22px !important;
  }
}

/* MapLibre GL JS */
.maplibregl-control-container {
  /* Relatively position so z-index takes effect */
  position: relative;
  /* Put map controls behind the settings popup (which has z-index: 1) */
  z-index: 0;
  /* Give map controls container a height */
  height: 100vh;
  /* Make the container itself non-interactive */
  pointer-events: none;
}

/* Dark mode */
.dark {
  /* MapLibre GL JS */
  .maplibregl-map {
    filter: invert(1) hue-rotate(180deg);
  }

  /* React Modal Sheet */
  .react-modal-sheet-container {
    background-color: var(--color-positron-gray-800) !important;
  }
}
