@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}
