@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

.segmentProgressWrapper {
  --segmentBarHeight: 20px;
  --spacing: 2px;

  position: relative;

  progress,
  ::-webkit-progress-bar {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: var(--segmentBarHeight);
    border-radius: calc(var(--segmentBarHeight) / 2);
    background-color: #ccc;
  }

  ::-moz-progress-bar {
    background-color: theme('colors.amtrak-blue-500');
    border-radius: calc(var(--segmentBarHeight) / 2);
  }

  ::-webkit-progress-value {
    background-color: theme('colors.amtrak-blue-500');
    border-radius: calc(var(--segmentBarHeight) / 2);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: var(--spacing);
    background: #fff;
    width: calc(var(--segmentBarHeight) - 2 * var(--spacing));
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &::before {
    left: var(--spacing);
  }

  &::after {
    right: var(--spacing);
  }
}
